{% for product in collection.products %}
  {%- capture product_aside -%}
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT TABS
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- include 'product-tabs' -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT WEAR IT WITH

    We allow merchants to add a tag that looks like __with:product-handle to feature an additional product
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- for tag in product.tags -%}
    {%- if tag contains '__with' -%}
    {%- assign product_handle = tag | split: '__with:' | last -%}
    {%- assign associated_product = all_products[product_handle] -%}

    {%- if associated_product != empty -%}
    <div class="Section Section--spacingNormal">
      <header class="SectionHeader SectionHeader--center">
        <h3 class="SectionHeader__Heading Heading u-h4">{{ 'product.buy_it_with.title' | t }}</h3>
      </header>

      {% include 'product-item', product: associated_product, use_horizontal: true, show_labels: false, show_product_info: true, show_vendor: false, show_price_on_hover: false %}
    </div><br><br>

    {%- break -%}
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}


  {%- if product_aside != blank -%}
    <div class="Product__Aside new-tabs hide" id="product-tabs_{{product.id}}">
      <span id="ProductAside" class="Anchor"></span>
      {{- product_aside -}}
    </div>
  {%- endif -%}
{% endfor %}

{% schema %}
{
  "name": "Custom Product Tabs",
  "settings": [
    {
      "type": "header",
      "content": "Tabs"
    },
    {
      "type": "page",
      "id": "tab_page_1_handle",
      "label": "First page"
    },
    {
      "type": "page",
      "id": "tab_page_2_handle",
      "label": "Second page"
    },
    {
      "type": "paragraph",
      "content": "The theme also allows you to add specific tabs for a given product only. [Learn more about this feature](http://support.maestrooo.com/article/83-product-adding-different-tabs-per-product)."
    }
  ]
}
{% endschema %}
