#input_button{
align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(252, 111, 25);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-repeat-x: ;
background-repeat-y: ;
background-size: auto;
border-bottom-color: rgb(252, 111, 25);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(252, 111, 25);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(252, 111, 25);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(252, 111, 25);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(0, 0, 0);
display: flex;
flex-basis: 0%;
flex-grow: 4;
flex-shrink: 1;
font-family: Poppins, sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 600;
height: 51px;
justify-content: center;
letter-spacing: 2.8px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 14px;
padding-left: 28px;
padding-right: 28px;
padding-top: 14px;
position: relative;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: uppercase;
transition-delay: 0s, 0s;
transition-duration: 0.45s, 0.45s;
transition-property: color, border;
transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86), cubic-bezier(0.785, 0.135, 0.15, 0.86);
width: 528.859px;
word-spacing: 0px;
writing-mode: horizontal-tb;
z-index: 1;
-webkit-appearance: none;
-webkit-box-align: center;
-webkit-box-pack: center;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
-webkit-border-image: none;
  
  
background: linear-gradient(to right, rgb(252, 111, 25) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
#input_button:hover{
color: rgb(255, 255, 255);
bottom: 0px;
box-sizing: border-box;
content: "";
top: 0px;
transform: matrix(1, 0, 0, 1, 0, 0);
transform-origin: 0px 24.5px;
transition-delay: 0s, 0s;
transition-duration: 0.45s, 0.45s;
transition-property: transform, -webkit-transform;
transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86), cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background-position: left bottom;
-webkit-font-smoothing: antialiased;
  background: linear-gradient(to right, rgb(252, 111, 25) 50%, white 50%); 
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all .5s ease-out;
}